/* i'm a css comment! */

body {
	font-family: 'Open Sans', sans-serif;
	color: #333333; /* charcoal */
	background: url('../images/bracelet.jpg') no-repeat center top;
	background-color: #333;
	/* background-size: 100%; */
	/*background-size: cover; */
}

h1, h2, h3, h4, h5, h6 {
	color: red;
	font-weight: normal;
	background: pink;
	font-family: Georgia, serif;
}

h2 {
	font-style: italic;
}

p {
	color: #8A91E6; /* this is periwinkle */
	font-size: 14px;
}

a {
	color: fuchsia;
}

.container {
	width: 960px;
	background: #fff; /* white */
	margin: 0 auto;
}

.blue {
	color: #71D4F5; /* sky blue */
}



